.pricing{
    .col:hover{
        -webkit-box-shadow: 17px 20px 21px -4px rgba(0,0,0,0.71);
-moz-box-shadow: 17px 20px 21px -4px rgba(0,0,0,0.71);
box-shadow: 17px 20px 21px -4px rgba(0,0,0,0.71);
    }
}