.title-no{
    font-size: 56px;
    color: $primary-color;
    font-weight: 700;
}

.section-title{
    text-align: center;
}
.title-hr{
    width: 180px;
    border-color:#ccc;
}
.work, .about, .team, .portfolio, .pricing, .contact{
    padding-top: 100px;
    padding-bottom: 100px;
}